/*!
 --- HELPERS ------------------------------------
*/

.hide {
  display: none;
}

.img {
  display: block;
  max-width: 100%;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.nolaptop {
  @include laptop {
    display: none !important;
  }
}

.notablet {
  @include tablet {
    display: none !important;
  }
}

.nomobile {
  @include mobile {
    display: none !important;
  }
}
