//- Colors
$color: #000;

//- Base
$font16: 16px;
$font14: 14px;
$font12: 12px;
$font: sans;

//- Breakpoints
$xs-width: 543;
$sm-width: 767;
$md-width: 991;
$lg-width: 1199;

$xs: "all and (max-width: #{$xs-width}px)";
$sm: "all and (max-width: #{$sm-width}px)";
$md: "all and (max-width: #{$md-width}px)";
$lg: "all and (max-width: #{$lg-width}px)";

$laptop: "all and (max-width: #{$lg-width}px) and (min-width: #{$md-width + 1}px)";
$tablet: "all and (max-width: #{$md-width}px) and (min-width: #{$sm-width + 1}px)";
$mobile: "all and (max-width: #{$sm-width}px)";

@mixin laptop {
  @media #{$laptop} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin lg {
  @media #{$lg} {
    @content;
  }
}

@mixin md {
  @media #{$md} {
    @content;
  }
}

@mixin sm {
  @media #{$sm} {
    @content;
  }
}

@mixin xs {
  @media #{$xs} {
    @content;
  }
}

/*
  BREACKPOINTS

  lg: #{$lg}
  md: #{$md}
  sm: #{$sm}
  xs: #{$xs}

  laptop: #{$laptop}
  tablet: #{$tablet}
  mobile: #{$mobile}
*/
