/*!
 --- STYLES FOR SIMPLE GRID ---------------------
*/

.rw {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -16px;
}

.cl {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 16px;
}

@mixin col($num, $columns) {
  max-width: ((100% / $columns) * $num);
}

@mixin grid($columns, $prefix: "") {
  @for $i from 1 through $columns {
    .cl#{$prefix}-#{$i} {
      max-width: ((100% / $columns) * $i);
    }
  }
}

// @include grid(12);

// /* LG */
// @include lg {
//   @include grid(12, "-lg");
// }

// /* MD */
// @include md {
//   @include grid(12, "-md");
// }

// /* SM */
// @include sm {
//   @include grid(12, "-sm");
// }

// /* XS */
// @include xs {
//   @include grid(12, "-xs");
// }
