//- Colors
color = #000

//- Base
font16 = 16px
font14 = 14px
font12 = 12px
font = sans

//- Breakpoints
xs = 'all and (max-width: 543px)'
sm = 'all and (max-width: 767px)'
md = 'all and (max-width: 991px)'
lg = 'all and (max-width: 1199px)'
xl = 'all and (max-width: 1399px)'

/*!
  BREAKPOINTS
  
  xl: all and (max-width: 1399px)
  lg: all and (max-width: 1199px)
  md: all and (max-width: 991px)
  sm: all and (max-width: 767px)
  xs: all and (max-width: 543px)
*/
