extends layout/_default

//- include ../components/component/component

block vars
  - var title = 'Главная';

block header
  +header()

block content
  p content

block footer
  +footer()
