extends ../layout/_default

block vars
  - var title = 'Навигатор';
  -
    var style = `
      .nav-index { padding: 2em 0; line-height: 1.4; }
      ul { margin: 2em 0; }
      ul li { margin-bottom: 0.3em; }
      ul ul { margin: 0.5em 0; }
    `;

block header

block content
  .nav-index
    .container
      h1 Навигатор

      ul
        li: a.link(href="uikit.html") UI Kit

      ul
        li: a.link(href="main.html") Главная

block footer
