/*!
 -------- STYLES FOR SIMPLE GRID --------------------------
*/

.rw
  box-sizing: border-box
  display: flex
  flex: 0 1 100%
  flex-direction: row
  flex-wrap: wrap
  list-style: none
  margin: 0 -16px

.cl
  box-sizing: border-box
  flex: 0 0 100%
  flex-direction: column
  max-width: 100%
  padding: 0 16px

col(num, columns)
  max-width floor( ((100% / columns)* num), 2 )


grid($columns, $prefix)
  for $col in 1..$columns
    .cl{$prefix}-{$col}
      max-width floor( ((100% / $columns) * $col), 6 )
