//- Colors
color = #000

//- Base
font-16 = 16px
font-14 = 14px
font-12 = 12px
font = sans-serif

//- Breakpoints
xs = 'all and (max-width: 543px)'
sm = 'all and (max-width: 767px)'
md = 'all and (max-width: 991px)'
lg = 'all and (max-width: 1199px)'

laptop = 'all and (max-width: 1199px) and (min-width: 992px)'
tablet = 'all and (max-width: 991px) and (min-width: 768px)'
mobile = 'all and (max-width: 767px)'
