//- FONT
font = sans-serif

//- COLORS
color = #000

//- GRID
gridPadding = 15px

//- BREAKPOINTS
laptop = 'all and (max-width: 1363px)'
tablet = 'all and (max-width: 1199px)'
pad = 'all and (max-width: 1023px)'
phone = 'all and (max-width: 767px)'

/*!
  BREAKPOINTS

  iPad Pro - 1366, 1024
  macbook old = 1280
  iPad - 1024, 768
  iPhone - 414, 375, 320

  laptop = 'all and (max-width: 1366px)'
  tablet = 'all and (max-width: 1199px)'
  pad = 'all and (max-width: 1023px)'
  phone = 'all and (max-width: 767px)'
*/

/*!
 --- FONTS --------------------------------------
*/
