/*
 --- FONTS --------------------------------------
*/
/*
 -------- STYLES FOR SIMPLE GRID --------------------------
*/
.rw {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -16px;
}
.cl {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 100%;
  padding: 0 16px;
}
/*
 -------- BASE --------------------------------------------
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  border: 0;
  width: 100%;
  overflow-x: hidden;
}
html {
  font-size: 16px;
}
body {
  font-family: sans-serif;
  color: #000;
  font-weight: normal;
  background-color: #fff;
  line-height: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.browsehappy {
  display: block;
  margin: 0;
  padding: 30px;
  text-align: center;
  background: #e55454;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
}
.browsehappy a,
.browsehappy a:hover {
  color: #fff;
  text-decoration: underline;
}
.container {
  width: 100%;
  max-width: 1152px;
  padding: 0 16px;
  margin: 0 auto;
}
/*
 -------- FOOTER TO BOTTOM ------------------------------------------
*/
.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1vh;
}
.header,
.footer {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
/*
 -------- UI ELEMENTS ---------------------------------------------------------
*/
a {
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
strong,
b {
  font-weight: bold;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: block;
  width: 100%;
  outline: none;
  line-height: 1;
  border: 0;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
button,
button[type="submit"],
input[type="submit"] {
  cursor: pointer;
}
button[type='submit']:disabled,
input[type='submit']:disabled {
  cursor: not-allowed;
}
input[type="search"],
input[type=number] {
  -webkit-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  width: 100%;
  resize: none;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select select::-ms-expand {
  display: none;
}
ul,
ol {
  padding-left: 1.2em;
}
ul.unstyled,
ol.unstyled {
  list-style-type: none;
  padding: 0;
}
/*
 -------- iFRAME -----------
*/
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/*
 -------- HELPERS ----------
*/
.hide {
  display: none;
}
@media all and (max-width: 1199px) and (min-width: 992px) {
  .nolaptop {
    display: none !important;
  }
}
@media all and (max-width: 991px) and (min-width: 768px) {
  .notablet {
    display: none !important;
  }
}
@media table {
  .nomobile {
    display: none !important;
  }
}
/*
 -------- UI ----------------------------------------------
*/
/*
 -------- HEADER ------------------------------------------
*/
.header {
  background-color: #eee;
}
/*
 -------- FOOTER ------------------------------------------
*/
.footer {
  background-color: #eee;
}

/*# sourceMappingURL=../css/main.css.map */
