//- COLORS
$colorText = #000


//- FONT
$font = sans-serif


//- VARS
$container = 1170px
$containerPadding = 15px
$gridPadding = 15px


//- BREAKPOINTS
note = 'all and (max-width: 1759px)'
laptop = 'all and (max-width: 1399px)'
tablet = 'all and (max-width: 1279px)'
pad = 'all and (max-width: 1023px)'
phone = 'all and (max-width: 767px)'


/*!
  BREAKPOINTS

  iPad Pro - 1366, 1024
  macbook old = 1280
  iPad - 1024, 768
  iPhone - 414, 375, 320

  note = 'all and (max-width: 1759px)'
  laptop = 'all and (max-width: 1399px)'
  tablet = 'all and (max-width: 1279px)'
  pad = 'all and (max-width: 1023px)'
  phone = 'all and (max-width: 767px)'
*/


/*!
  FONTS
  ===============================================
  */
