//- COLORS
$colorText: #000;
$colorAccent: red;
$bgColor: #fff;

$colorError: #EF4444;

//- FONT
$font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;


//- GRID
$gridColumns: 12;
$gridPadding: 15px;
$containerPadding: 15px;
$containerWidth: 1140px + 30;


//- BREAKPOINTS
$note: 'all and (max-width: 1759px)';
$laptop: 'all and (max-width: 1399px)';
$tablet: 'all and (max-width: 1279px)';
$pad: 'all and (max-width: 1023px)';
$phone: 'all and (max-width: 767px)';

$points: ('-nt': $note, '-lp': $laptop, '-tb': $tablet, '-pd': $pad, '-ph': $phone);


/*
  BREAKPOINTS

  iPad Pro - 1366, 1024
  macbook old = 1280
  iPad - 1024, 768
  iPhone - 414, 375, 320

  note = 'all and (max-width: 1759px)', -nt
  laptop = 'all and (max-width: 1399px)', -lp
  tablet = 'all and (max-width: 1279px)', -tb
  pad = 'all and (max-width: 1023px)', -pd
  phone = 'all and (max-width: 767px)', -ph
*/


/*
  FONTS
  ===============================================
*/
